.cartempty{
    padding: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media(max-width:450px) {
        padding: 0;
        padding-top: 50px;
    }
}

.message {
    font-weight: 700;
    font-size: 48px;
    text-align: center;
}