.cartitem {
    display: flex;
    align-items: center;
    gap:15px;
    margin-bottom: 25px;
    padding: 20px;
    width: 400px;
}

.cartitem__img {
    width: 80px;
    height: 72px;
    object-fit: cover;
    border-radius: 5px;

}

.cartitem__title {

}

.cartitem__price {

}

.cartitem__amount {

}

.cartitem__controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.cartitem__button {
    cursor: pointer;
    border: none;
    padding: 5px;
    font-size: 30px;
    color: rgb(150, 66, 10);
    background-color: transparent;

}