.cartform {
  display: grid;
  grid-template-columns: repeat(4, 120px);
  grid-template-rows: repeat(16, min-content);
  margin-top: 5%;
  grid-column-gap: 38px;
  font-size: 14px;
  grid-column: 1/4;
  grid-row: 2/8;
  margin-bottom: 20px;
}

.cartform input[type="text"] {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.cartform__name-label {
  grid-column: 1 / 2;
  grid-row: 1/ 2;
}

.cartform__name-input {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  margin-bottom: 36px;
}
.cartform__phone-label {
  grid-column: 3 / 5;
  grid-row: 1 / 2;
}

.cartform__phone-input {
  grid-column: 3 / 5;
  grid-row: 2 / 3;
  margin-bottom: 36px;
}

.cartform__del {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  margin-bottom: 24px;
}

.cartform__street-label {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}
.cartform__street-input {
  grid-column: 1 / 3;
  grid-row: 5 / 6;
  margin-bottom: 16px;
}

.cartform__housenum-label {
  grid-column: 1 / 2;
  grid-row: 6 / 7;
}
.cartform__housenum-input {
  grid-column: 1 / 2;
  grid-row: 7 / 8;
}
.cartform__housing-label {
  grid-column: 2 / 3;
  grid-row: 6 / 7;
}
.cartform__housing-input {
  grid-column: 2 / 3;
  grid-row: 7 / 8;
}

.cartform__appartment-label {
  grid-column: 3 / 4;
  grid-row: 6 / 7;
}
.cartform__appartment-input {
  grid-column: 3 / 4;
  grid-row: 7 / 8;
}

.cartform__floor-label {
  grid-column: 4 / 5;
  grid-row: 6 / 7;
}
.cartform__floor-input {
  grid-column: 4 / 5;
  grid-row: 7 / 8;
}
.cartform__housenum-input,
.cartform__housing-input,
.cartform__appartment-input,
.cartform__floor-input {
  margin-bottom: 16px;
}
/* .cartform__housenum input,
.cartform__housing input,
.cartform__appartment input,
.cartform__floor input {
    width: 50%;
} */

.cartform__comment-label {
  grid-column: 1/ 5;
  grid-row: 8 / 9;
}

.cartform__comment-textarea {
  grid-column: 1/ 5;
  grid-row: 9 / 13;
  margin-bottom: 36px;
}

.cartform__pay {
  grid-column: 1/5;
  grid-row: 13 /14;
  margin-bottom: 24px;
}

.cartfrom__cardnum-label {
  grid-column: 1/ 3;
  grid-row: 14/15;
}
.cartfrom__cardnum-input {
  grid-column: 1/3;
  grid-row: 15/16;
  margin-bottom: 16px;
}
.cartfrom__cardname-label {
  grid-column: 3/5;
  grid-row: 14/15;
}
.cartfrom__cardname-input {
  grid-column: 3/5;
  grid-row: 15/16;
  margin-bottom: 16px;
}
.cartfrom__expire-label {
  grid-column: 1/2;
  grid-row: 16/17;
}
.cartfrom__expire-input {
  grid-column: 1/2;
  grid-row: 17/18;
  margin-bottom: 36px;
}
.cartfrom__cvv-label {
  grid-column: 2/3;
  grid-row: 16/17;
}
.cartfrom__cvv-input {
  grid-column: 2/3;
  grid-row: 17/18;
  margin-bottom: 36px;
}
.cartform__btn {
  grid-column: 1 / 2;
  grid-row: 18 /19;
  background-color: transparent;
  border: 2px solid #f96f3c;
  font-size: 16px;
  border-radius: 55px;
  color: #f96f3c;
  padding: 6px 24px;
  cursor: pointer;
}
.cartform__del span,
.cartform__pay span {
  font-weight: 600;
  font-size: 18px;
  margin-right: 21px;
}
.inputs {
  margin-bottom: 15px;
}

.inputs label {
  font-weight: 700;
  margin-right: 20px;
  align-items: flex-end;
  justify-self: start;
}

.inputs input {
  /* border: 1px solid rgb(119, 119, 119);
    border-radius: 5px;
    justify-self: end; */
  width: 100%;
}

.invalid input {
  border: 1px solid rgb(225, 0, 0);
  background-color: rgba(245, 71, 86, 0.7);
}

.errormessage {
  font-size: 12px;
  font-weight: 700;
  border: 1px solid rgb(225, 0, 0);
  background-color: rgba(245, 71, 86, 0.7);
  color: #000000;
  padding: 3px;
}

@media (max-width: 1200px) {
  .cartform {
    grid-template-columns: repeat(4, 100px);
  }
  .cartform__btn {
    grid-column: 1/3;
  }
}

@media (max-width: 1080px) {
  .cartform {
    grid-template-columns: repeat(4, 80px);
  }
}

@media (max-width: 870px) {
  .cartform {
    grid-template-columns: repeat(4, 60px);
  }
}

@media (max-width: 770px) {
  .cartform {
    order: 3;
    grid-template-columns: repeat(4, 50px);
  }
  .cartform__name-label {
    grid-column: 1/5;
    grid-row: 1/2;
  }
  .cartform__name-input {
    grid-column: 1/5;
    grid-row: 2/3;
  }
  .cartform__phone-label {
    grid-column: 1/4;
    grid-row: 3/4;
  }
  .cartform__phone-input {
    grid-column: 1/5;
    grid-row: 4/5;
  }
  .cartform__del {
    grid-column: 1/5;
    grid-row: 5/6;
  }
  .cartform__street-label {
    grid-column: 1/4;
    grid-row: 6/7;
  }
  .cartform__street-input {
    grid-column: 1/5;
    grid-row: 7/8;
  }
  .cartform__housenum-label {
    grid-column: 1/3;
    grid-row: 8/9;
  }
  .cartform__housenum-input {
    grid-column: 1/3;
    grid-row: 9/10;
  }
  .cartform__appartment-label {
    grid-column: 3/4;
    grid-row: 8/9;
  }
  .cartform__appartment-input {
    grid-column: 3/5;
    grid-row: 9/10;
  }
  .cartform__housing-label {
    grid-column: 1/3;
    grid-row: 10/11;
  }
  .cartform__housing-input {
    grid-column: 1/3;
    grid-row: 11/12;
  }
  .cartform__floor-label {
    grid-column: 3/5;
    grid-row: 10/11;
  }
  .cartform__floor-input {
    grid-column: 3/5;
    grid-row: 11/12;
  }
  .cartform__comment-label {
    grid-column: 1/4;
    grid-row: 12/13;
  }
  .cartform__comment-textarea {
    grid-column: 1/5;
    grid-row: 13/16;
  }
  .cartform__pay {
    grid-column: 1/5;
    grid-row: 16/17;
  }
  .cartfrom__cardnum-label {
    grid-column: 1/5;
    grid-row: 17/18;
  }
  .cartfrom__cardnum-input {
    grid-column: 1/5;
    grid-row: 18/19;
  }
  .cartfrom__cardname-label {
    grid-column: 1/5;
    grid-row: 19/20;
  }
  .cartfrom__cardname-input {
    grid-column: 1/5;
    grid-row: 20/21;
  }
  .cartfrom__expire-label {
    grid-column: 1/3;
    grid-row: 21/22;
  }
  .cartfrom__expire-input {
    grid-column: 1/3;
    grid-row: 22/23;
  }
  .cartfrom__cvv-label {
    grid-column: 3/5;
    grid-row: 21/22;
  }
  .cartfrom__cvv-input {
    grid-column: 3/5;
    grid-row: 22/23;
  }
  .cartform__btn {
    grid-row: 23/24;
    margin-bottom: 20px;
  }
}
