ul {
  list-style: none;
}

.cart {
  margin-top: 30px;
}

.cart__container {
  display: grid;
}

.cart__items {
 grid-column: 4/8;
 grid-row: 2/8;
}

.cart__header {
  grid-column: 1/8;
  grid-row: 1/2;
  border-bottom: 2px solid rgb(139, 40, 0);
  padding-bottom: 8px;
  display: grid;
}

.cart__header-title--form {
  font-family: "Jost";
  font-weight: 700;
  font-size: 24px;
  color: rgb(139, 40, 0);
  grid-column: 1/4;
}

.cart__header-title--compose {
  font-weight: bold;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.4);
  grid-column: 4/8;
  margin-left: 15%;
}

.cart__totalsum {
  display: flex;
  justify-content: end;
  align-items: baseline;
  border-top: 1px solid #8b2800;
}
.cart__totalsum-title {
  font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 700;
font-size: 18px;
color: rgba(0, 0, 0, .6);
margin-right: 24px;
}
.cart__totalsum::after {
  position: absolute;
  content: "";
  height: 1px;
  background-color: #8b2800;
  width: 340px;
  right: 0;
  bottom: 120%;
}

@media(max-width:770px) {
  .cart__container {
    display: flex;
    flex-direction: column;
  }
  .cart__header {
    order: 1;
  }
  .cart__items-cont {
    order:2;
  }
  .cart__items {
    padding: 0;
  }
  
  .cart__header-title--compose {
    display: none;
  }
}