.cartsubmit {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
    background-color: #fff;
}

.message {
    font-weight: 700;
    font-size: 48px;
    text-align: center;
}