.delivery {
    padding-top: 36px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap:80px;
    height: 60vh;
    position: relative;
    padding-bottom: 120px;
 
}

.delivery::after {
    position: absolute;
    content: '';
    background-image: url('../images/shrimp\ back.png');
    background-repeat: no-repeat;
    width: 176px;
    height: 202px;
    bottom: 0;
    left: 0;
}

.delivery__text {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 45px;
    width: 288px;
}

.delivery__text span {
    font-weight: 700;
}