.delivery {
    padding-top: 36px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap:80px;
    position: relative;
    padding-bottom: 120px;
 
}

.delivery::after {
    position: absolute;
    content: '';
    background-image: url('../images/shrimp\ back.png');
    background-repeat: no-repeat;
    width: 176px;
    height: 202px;
    bottom: 0;
    left: 0;
}

.delivery__text {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 45px;
    width: 288px;
}

.delivery__text span {
    font-weight: 700;
}

@media(max-width: 1300px) {
    .delivery__map {
        width: 60%;
    }
}

@media(max-width: 975px) {
    .delivery__text {
        width: 180px;
    }
}

@media(max-width: 750px) {
    .delivery {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .delivery::after {
        display: none;
    }
    .delivery__text {
        width: 60%;
        margin: 20px auto;
    }
    .delivery__map {
        width: 95%;
    }
}