.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}


.modal {
  position: fixed;
  top: 15%;
  left: 25%;
  z-index: 100;
  overflow: hidden;
  background-color: #fff;
  padding: 16px 0px 12px 12px;
  display: flex;
  gap: 36px;
  width: 50%;
  height: 70%;
  /* height: auto; */
  border-radius: 10px;
}

.modal__diy {
  position: fixed;
  top: 5%;
  left: 20%;
  z-index: 100;
  overflow: hidden;
  background-color: #fff;
  padding: 16px 0px 12px 12px;
  display: flex;
  gap: 36px;
  width: 60%;
  height: 90%;
  /* height: auto; */
  border-radius: 10px;
}

.modal__left {
  display: flex;
  flex-direction: column;
}

.modal__image {
  margin-top: 78px;
  width: 379px;
  height: 360px;
  border-radius: 16px;
  object-fit: cover;
}

.modal__title {
  font-family: "Jost", sans-serif;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 15px;
}

.modal__descr {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 22px;
  width: 380px;
}

.modal__menu-titles {
  font-family: "Jost", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.modal__topping-container {
  background-color: #ffded2;
  border-radius: 16px;
  padding: 16px 24px;
  direction: ltr;
}

.modal__topping-btns {
  display: flex;
  flex-direction: column;
}

.modal__topping-btn {
  border: none;
  background-color: #fff;
  font-size: 14px;
  border-radius: 32px;
  padding: 6px 12px;
  cursor: pointer;
  margin-right: 6px;
  margin-bottom: 12px;
}

.extras {
  display: flex;
  margin-bottom: 15px;
}
.extras label {
  margin-right: 10px;
}

/* .modal__diy-img {
    width: 480px;
    height: 336px;
    border-radius: 12px;
    object-fit: fill;
    padding-right: 20px;
} */

.modal__diy-table {
  background-image: url("../../images/table.png");
  position: relative;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  width: 480px;
  height: 508px;
  border-radius: 12px;
}
.modal__diy-img--buntop {
  position: absolute;
  width: 50%;
  left: 25%;
  height: 56px;
}
.modal__diy-img--bunbottom {
  position: absolute;
  width: 50%;
  left: 25%;
  bottom: 0%;
}
.modal__diy-img--patty {
  position: absolute;
  width: 50%;
  left: 25%;
  bottom: 7%;
}
.modal__diy-img--toppings {
    position: absolute;
    display: flex;
    top: 10%;
    width: 50%;
    flex-direction: column;
    left: 25%;

}
.modal__right {
  padding-right: 20px;
}

.modal__layers {
  overflow-y: scroll;
  direction: rtl;
  height: 730px;
  padding-left: 15px;
}
.modal__layer {
  direction: ltr;
  display: flex;
  margin-bottom: 32px;
}
.modal__layers::-webkit-scrollbar {
  width: 6px;
}

.modal__layers::-webkit-scrollbar-track {
  background-color: #efefef;
  border-radius: 10px;
}

.modal__layers::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #b9b9b9;
}

.modal__layer-title {
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-right: 32px;
}

.modal__layer-egg {
  font-size: 14px;
  padding: 3px 6px;
  border: 1px solid #000;
  border-radius: 16px;
}

.modal__layer-btn {
  background-color: transparent;
  border: none;
  font-weight: 700;
  font-size: 14px;
  padding-left: 10px;
  cursor: pointer;
}


.cancel {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 32px;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: transparent;
  color: #a32c00;
  opacity: 0.2;
  transition: all 0.4s;
}

.cancel:hover {
  opacity: 1;
}

.modal__diy--price {
  position: absolute;
  bottom: 5%;
  right: 25%;
  font-family: 'Jost';
  font-weight: 400;
  font-size: 24px;
}

.tocart {
  position: absolute;
  right: 5%;
  bottom: 5%;
  font-size: 16px;
  padding: 6px 24px;
  border: none;
  cursor: pointer;
  background-color: #f96f3c;
  color: #fff;
  border-radius: 55px;
  font-size: 18px;
}

.tocart:hover {
  background-color: rgba(101, 170, 11, 0.9);
}
