.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
  }
  
  .modal {
    position: fixed;
    top: 15%;
    left: 25%;
    z-index: 100;
    overflow: hidden;
    background-color: #fff;
    padding: 16px 0px 12px 12px;
    display: flex;
    gap: 36px;
    width: 50%;
    height: auto;
    border-radius: 10px;
  }  

  .modal__left {
      display: flex;
      flex-direction: column;
  }

.modal__image {
    margin-top: 78px;
    width: 379px;
    height: 360px;
    border-radius: 16px;
    object-fit: cover;
}

.modal__title {
    font-family: 'Jost', sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 15px;
}

.modal__descr {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 22px;
    width: 380px;
}

.modal__menu-titles {
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.modal__topping-container {
    background-color: #ffded2;
    border-radius: 16px;
    padding: 16px 24px;
}

.modal__topping-btns {
    display: flex;
    flex-direction: column;
}

.modal__topping-btn {
    border: none;
    background-color: #fff;
    font-size: 14px;
    border-radius: 32px;
    padding: 6px 12px;
    cursor: pointer;
    margin-right: 6px;
    margin-bottom: 12px;
}

.extras {
    display: flex;
    margin-bottom: 15px;
}
.extras label {
    margin-right: 10px;
}



.cancel {
    position: absolute;
    top:0;
    right: 0;
    font-size: 32px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: transparent;
    color: #A32C00;
    opacity: .2;
    transition: all .4s;
}

.cancel:hover {
    opacity: 1;
}

.tocart {
    position: absolute;
    right: 5%;
    bottom: 10%;
    font-size: 16px;
    padding: 6px 24px;
    border: none;
    cursor: pointer;
    background-color: #F96F3C;
    color: #fff;
    border-radius: 55px;
    font-size: 18px;
}

.tocart:hover {
    background-color: rgba(101, 170, 11, 0.9);
}