.list {
    list-style: none;
    display: flex;
    gap: 4rem;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid rgba(139, 40, 0, .5);
    padding-bottom: 17px;
    padding-left: 0;
}

.link {
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    font-size: 24px;
    color: rgba(139, 40, 0, .5);
    font-weight: 700;
    transition: all .4s;
    
}

.linkActive {
    color: rgba(139, 40, 0, 1);
}

