.header__menu-nav {
  padding-left: 40px;
}
.list {
  list-style: none;
  display: flex;
  gap: 4rem;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid rgba(139, 40, 0, 0.5);
  padding-bottom: 17px;
  padding-left: 0;
}

.link {
  text-decoration: none;
  font-family: "Jost", sans-serif;
  font-size: 24px;
  color: rgba(139, 40, 0, 0.5);
  font-weight: 700;
  transition: all 0.4s;
}

.linkActive {
  color: rgba(139, 40, 0, 1);
}

.header__menu-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 15%;
}
.header__menu-btn--num {
  font-size: 11px;
  color: #fff;
  background-color: rgb(255, 122, 0);
  padding: 3px 5px;
  border-radius: 12px;
  position: absolute;
  right:29%;
  top:-10%;
}

@media (max-width: 990px) {
  .list {
    gap: 2rem;
  }
  .link {
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  .header__menu-nav {
    padding-left: 0;
  }
  .list {
    overflow-x: auto;
    white-space: nowrap;
    border-bottom: none;
    width: 95%;
  }

  .list::-webkit-scrollbar {
    height: 5px;
    overflow: visible;
  }

  .list::-webkit-scrollbar-track {
    background: rgb(224, 126, 87);
  }
  .list::-webkit-scrollbar-thumb {
    background: #8b2800;
  }
  .header__menu-btn {
    position: fixed;
    top: 60%;
    z-index: 1000;
    padding: 12px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 2.65385px 6.63462px rgba(0, 0, 0, 0.16);
    right: 5%;
  }
  .header__menu-btn--num {
    right: 33%;
    top: 12%;
  }
}
