.homecard {
    width: 300px;
    height: 450px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    border: 2px solid rgb(224, 126, 87);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.homecard__img {
    width: 100%;
    height: 40%;
    border-radius: 8px 8px 0 0;
}

.homecard__title {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5rem;
    
}

.homecard__price {
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    top: 60%;
}

.homecard__btn {
    position: absolute;
    top: 80%;
}
