.homecard {
    width: 256px;
    height: 365px;
    background-color: #fff;
    display: grid;
    grid-template-areas:
        "image image"
        "title title"
        "price button"
        "descr descr";
    grid-template-rows: repeat (4, 1fr);
    position: relative;
    align-items: end;
}

.homecard__img {
    width: 100%;
    height: 171px;
    border-radius: 12px;
    grid-area: image;
    grid-row: 1 / 2;
    align-self: self-start;
}

.homecard__title {
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    margin-top: 8px;
    grid-area: title;
    grid-row: 2 / 3;
    margin: 0;
    align-self: self-start;
}

.homecard__price {
    font-family: 'Jost', sans-serif;
    font-size: 36px;
    font-weight: 400;
    grid-area: price;
    grid-row: 3 / 4;
    margin: 0;
    align-self: self-start;
}

.homecard__btn {
    font-size: 18px;
    color: #f96f3c;
    border: 2px solid #f96f3c;
    font-size: 18px;
    background-color: transparent;
    padding: 12px 24px;
    border-radius: 55px;
    cursor: pointer;
    transition: all .4s;
    grid-area: button;
    grid-row: 3 / 4;
    align-self: center;
}

.homecard__btn-diy {
    background-color: #f96f3c;
    color: #fff;
}

.homecard__btn:hover {
    transform: translateY(-2px);
}

.homecard__btn:active {
    transform: translateY(2px);
}

.homecard__descr {
    grid-area: descr;
    grid-row: 4 / 5;
    margin-top: 15px;
}

@media(max-width: 600px) {
    .homecard {
        height: auto;
    }
}