.layout {
    width: 90%;
    margin: 0 auto;
    min-height: 80vh;
    display: flex;
    flex-direction: column;

}

@media(min-width:1930px) {
    .layout {
        width: 80%;
    }
}

@media(max-width: 450px) {
    .layout {
        align-items: flex-start;
    }
}