.card {
    display: flex;
    align-items: center;
    gap: 25px;
}

.card__details {
    display: flex;
    flex-direction: column;
   
}

.card__link {
    text-decoration: none;
    color:  rgb(168, 65, 24);
}

.card__vector {
    /* position: absolute;
    left: 0; */
}